<div class="row">
  <div class="col-md-6">
    <%= f.field_container :location do %>
      <%= f.label :location %>
      <%= f.select :location, options_for_select(Spree::Slide::LOCATION_LIST.collect { |location| [Spree::Slide.human_attribute_name("location.#{location}"), location] }, f.object.location), { include_blank: t('spree.match_choices.none') }, { class: 'custom-select' } %>
    <% end %>

    <%= f.field_container :text_url do %>
      <%= f.label :text_url %>
      <%= f.text_field :text_url, class: 'fullwidth' %>
    <% end %>

    <%= f.field_container :link_url do %>
      <%= f.label :link_url %><br>
      <%= f.text_field :link_url, class: 'fullwidth' %>
    <% end %>

    <%= f.field_container :body do %>
      <%= f.label :body %><br>
      <%= f.text_area :body, { cols: 60, rows: 4, :class => 'fullwidth' } %>
    <% end %>

    <%= f.field_container :published do %>
      <label>
        <%= f.check_box :published %>
        <%= Spree::Store.human_attribute_name(:published) %>
      </label>
    <% end %>

    <%= f.field_container :image do %>
      <%= f.label :image %>
      <%= f.file_field :image %>

      <% if f.object.image.attached? %>
        <p>
          <%= label_tag t('spree.preview') %>
          <br>
          <%= image_tag main_app.url_for(f.object.image.variant(resize_to_limit: [600, 500])), class: 'img-responsive' %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
