<% content_for :page_title do %>
  <%= t('spree.edit_slide') %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to t('spree.back'), spree.admin_store_slides_path(@store), icon: 'arrow-left' %>
<% end %>

<%= render partial: 'spree/admin/shared/general_tabs', locals: { current: 'Slider' } %>

<%= render 'spree/shared/error_messages', :target => @slide %>

<%= form_for [:admin, @store, @slide], :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div data-hook="admin_slides_edit_form_buttons">
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  </fieldset>
<% end %>
